<br>
<div class="d-flex align-items-baseline"><h3>Welcome !</h3> <%= current_user.email %></div>
<br>
<div class="container m-4 p-5">
<form action="/search" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">CIN Number</span>
    </div>
    <input type="text" class="form-control" placeholder="Search" name="cin_number">
    <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
  </div>
</form>
</div>

<% unless @cin_details.blank? %>
  <h2>Output</h2> 
  <%= render :partial => 'cin_number_details', :locals => { :cin_detail => @cin_details } %>
<% end %>

